<%- include("../../../../../important/admin/views/_layouts/adminheader") %>
    <h2 class="admin-page__main-title">Add Coupon</h2>
    <% include ../../../../../important/admin/views/_layouts/messages/messages %>

        <button class="admin-button admin-button--add-something">
            <a href="/admin/products/coupons"><i class="fa fa-hand-point-left"></i></a>
        </button>
    <br>
    <br>
    <form method="post" action="/admin/product-categories/add-product-category" class="admin-form">
        <div class="admin-form__form-options--bottom-group">
            <div class="admin-form__form-options">
                <div class="admin-form__group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
                </div>
            <div class="admin-form__group">
               <label for="">Category</label>
               <select name="category">
                  <% categories.forEach(function(category){ %>
                          <option value="<%= category._id %>">
                              <%= category.title %>
                          </option>
                   <% }) %>
                </select>
            </div>
            <div class="admin-form__group">
                    <label for="">Quantity</label>
                    <input type="number" class="form-control" name="quantity" value="<%= quantity %>" min="-1" placeholder="Coupon amount, -1 = unlimited">
                </div>
        </div>
        <div class="admin-form__form-options admin-form__form-options--second-group">
            <div class="admin-form__group">
                <label for="">Meta Description</label>
                 <textarea class="admin-form--disabled-resize" rows="4" name="description" placeholder="Place a brief description of this product category. Max of 320 characters including spaces." maxlength="320"><%= description %></textarea>
            </div>
        </div>
    </div>
   <button class="admin-button admin-button--submit">Submit</button>
</form>

<%- include("../../../../../important/admin/views/_layouts/adminfooter") %>
