<%- include("../../../../important/admin/views/_layouts/adminheader") %>
    <h2 class="admin-page__main-title">changelog builder</h2>
    <% include ../../../../important/admin/views/_layouts/messages/messages %>
    <div class="button-row">
    <button class="admin-button admin-button--main">
    <a  href="/admin/documentation-builder/add-documentation">Add Documentation</a>
</button>
        <button class="admin-button admin-button--main">
            <a  href="/admin/changelog-builder/add-log">Add a New Log</a>
        </button>
        <button class="admin-button admin-button--main">
            <a href="/admin/documentation-builder-categories/add-documentation-category">Add a New Category</a>
        </button>
    </div>
    <div class="button-row">

    <button class="admin-button admin-button--main">
        <a href="/admin/changelog-builder/">All Categories</a>
    </button>

<% categories.forEach(function(category){ %>
    
        <button  class="admin-button admin-button--main">
            <a href="/admin/changelog-builder/sorted/<%= category.slug %>">
                <%= category.title %>
            </a>
        </button>
   
    <% }) %> 
    </div>
    <table class="admin-table">
        <thead>
            <tr class="home">
                <th>Log Number</th>
                <th>Project</th>
                <th>Published</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% projects.forEach(function(project){ %>
                <tr id="id_<%= project._id %>" class="<%= project.slug %>">
                    <td>
                        <%= project.title %>
                    </td>
                    <td>
                        <%= project.category %>
                    </td>
                    <td>
                    Not a thing yet
                    </td>
                    <td class="admin-table__edit-stuffs">
                        <a href="/admin/changelog-builder/edit-log/<%= project._id %>">Edit</a>
                    </td>
                    <td class="admin-table__delete-stuffs">
                    <form method="post" action="/admin/changelog-builder/delete-log/<%= project._id %>?_method=DELETE">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Delete</button>
                            </form>
                    </td>
                </tr>
            <% }) %>


        </tbody>
    </table>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $('tbody').sortable({
            items: "tr",
            placeholder: "ui-state-hightlight",
            update: function () {
                let ids = $("tbody").sortable("serialize");
                let url = "/admin/changelog-builder/reorder-logs";
                $.post(url, ids);
            }
        });
    </script>

    <%- include("../../../../important/admin/views/_layouts/adminfooter") %>